.column {
  margin-right: 10px;
  margin-bottom: 6px;
}

.item-title {
  position: relative;
  right: 130px;
  font-size: 18px;
  font-weight: 300;
  display: block;
  padding: 5px;
  margin-left: 300px;
  width: 390px;
}

.item-descript {
  position: relative;
  right: 130px;
  font-family: sans-serif;
  word-break: keep-all;
  font-size: 14px;
  color: dimgray;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 390px;
  margin-left: 300px;
}

.item-seller {
  display: block;
  position: relative;
  right: 130px;
  background-color: white;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 390px;
  margin-left: 300px;
}

.item-seller:active {
  background-color: rgb(240, 240, 240);
  transform: translateY(4px);
}

.two-clicks {
  line-height: 2.5;
}

.addTocartbutton {
  position: relative;
  right: 130px;
  border-top: 1px solid #0c1012;
  background: #08141c;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#04090d),
    to(#08141c)
  );
  background: black;
  padding: 20px;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  width: 390px;
  cursor: pointer;
  margin-left: 300px;
}

.addTocartbutton:active {
  background-color: rgb(49, 49, 49);
  transform: translateY(4px);
}

.flexItems {
  display: flex;
  justify-content: space-between;
}

.itemDesc {
  position: relative;
  right: 110px;
  justify-content: column;
  margin-left: 130px;
  margin-top: 65px;
}

.suggestion {
  margin-top: 200px;
  /* justify-content: column; */
  /* margin: 203px; */
}

.itemSugg {
  width: 100%;
}

.each-item {
  margin-top: 5px;
  margin-right: 60px;
  width: 200px;
  font-size: 14px;
}

.item-price {
  margin-top: 5px;
  font-size: 14px;
  color: rgb(141, 135, 135);
}

.seller-items {
  margin-top: 65px;
}

.items-sold {
  flex-wrap: wrap;
  margin-top: 50px;
}
