@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* main styles */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

h2 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f7;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* utility classes */

.margin-bottom-20 {
  margin-bottom: 40px;
}

/* navigation styles */

.head {
  padding: 20px 40px;
  /* position: absolute;
  position: fixed;
  width: 100%; */
}

/* hero banner styles */

.hero-text {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.4;
  margin: 150px 0 250px 0;
}

.sign-up-btn {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 15px 80px;
}

/* category styles */

.cat-btns {
  padding-bottom: 50px;
}

.cat-arrow {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.category-btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 30px 0;
  width: 250px;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.category-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 10px #f1f1f1;
}

.category-btn:hover .cat-arrow {
  opacity: 1;
}

/* footer styles */

.footer {
  padding: 100px 0;
}

hr {
  height: 1px;
  color: #f1f1f1;
  background-color: #f1f1f1;
  border: none;
}

ul li a {
  font-size: 13px;
  color: #797777;
}

ul li {
  margin-top: 20px;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.searchbar {
  width: 25rem;
  height: 100%;
  margin: 0 1rem;
  position: relative;
}

.footer-title {
  padding-bottom: 25px;
}

.footer-copy {
  font-size: 13px;
  color: #797777;
  padding-bottom: 50px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.checkoutBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 65%;
  border: 3px solid grey;
  padding: 10px;
  align-items: center;
}

.totalBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: auto;
  width: 35%;
  border: 3px solid grey;
  padding: 10px;
  align-items: center;
}

.imgCart {
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.item-cont {
  flex-wrap: wrap;
}

.item {
  width: 200px;
}

.itemDesc {
  justify-content: column;
}

.suggestion {
  margin-top: 20px;
  margin: 203px;
}

.itemSugg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  height: 120px;
  width: 219px;
}