.formNI {
    margin-top: 50px;
    animation: slideup 0.8s ease 1;
}

.formNI2 {
    animation: slideup 0.8s ease 1;
}

.formNI3 {
    animation: slideup 0.8s ease 1;
}

.formNI4 {
    animation: slideup 0.8s ease 1;
}

.formNI5 {
    animation: slideup 0.8s ease 1;
}

.formNI6 {
    animation: slideup 0.8s ease 1;
}