.searchForm {
  display: flex;
  justify-content: center;
}

.searchBarForm {
  background-color: transparent;
  width: 90%;
  resize: none;
  align-items: center;
  font-size: 30px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.searchBarForm::placeholder {
  color: #d2cece
}

.searchBarForm:focus {
  outline: none;
  border: none;
  align-items: center;
  width: 100%;
  font-family: inherit;
  background-color: transparent;
  font-size: 30px;
  transition: all 0.2s ease 0s;
}

.searchBarForm:focus::placeholder {
  color: transparent;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.close {
  cursor: pointer;
  width: 48px;
  margin-top: 55px;
  margin-bottom: 20px;
  margin-left: 10px;
}

/* .wholeSearch {
  margin-bottom: 100px;
} */
.searchBarResult {
  /* margin-top: 50px; */
  flex-wrap: nowrap;

}

.search-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
}

.search-item:hover .search-images,
.search-item:hover .search-descript,
.search-item:hover .search-price {
  text-align: center;
  transform: translateX(5px);
}

.search-images,
.search-descript,
.search-price {
  transition: all 0.3s ease;
}

.search-images {
  margin-bottom: 10px;
}

.search-descript {
  color: rgb(49, 49, 49)
}

.search-link {
  transition: all 0.3s ease;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 140px;
}

.search-arrow {
  opacity: 0;
  transition: all 0.3s ease;
  margin: auto 0;
}

.search-item:hover .search-arrow {
  opacity: 1;
  margin-right: 15px
}

.search-link:hover {
  transform: translateX(-10px);
}

.search-price {
  color: grey
}